body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}
.weatherdetails {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  padding: 0.56em 0.78em;
}
.addBoxshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Maindetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.56em 0.78em;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 0.56em 0.78em;
  height: max-content;
  justify-content: space-evenly;
}
.icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 0.56em 0.78em;
  gap: 5px;
  height: max-content;
}
.otherInfodiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.56em 0.78em;
}
.errormsg {
  color: rgb(204, 81, 81);
}
.infomsg {
  color: rgba(84, 225, 84, 0.96);
}
input[type="search"] {
  border: 1px solid #cccccc;
  padding: 0.45em 0.56em;
}
button {
  padding: 0.45em 0.56em;
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #888888;
  color: white;
}
